
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


.body2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 92vh;
	margin: 20px 0 20px;
}

.p2 {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 10px 0 10px;
}

.span2 {
	font-size: 12px;
}

.button2 {
	border-radius: 20px !important;
	border: 1px solid #ff0000;
	background-color: #ff0000;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	text-decoration: none;
}

.button2:hover {
	color: #000000;
}

.form2 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.input2 {
	background-color: #ffffff50;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container2 {
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.bgimage2 {
	position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bgcolor2 {
	background: #ffffff50;
	padding: 10px;
	border-radius: 20px;
}

.heading2 {
	color: rgb(0, 0, 0);
	font-size: 40px;
}

.btn2 {
	color: red;
	text-decoration: none;
	font-weight: 700;
}

.btn2:hover {
	color: white;
}